* {
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a1a1a;
}

/* Header */



/* Main */

main {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


/* Footer */

footer {
    border-top: 1px solid gray;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

footer ul {
    list-style-type: none;
}

footer ul li a {
    color: #ffffff;
    text-decoration: none;
}

