// Variables //
@import '../utilities/variables';


footer {
    border-top: 1px solid gray;
    color: $color-font;
    font-family: $font-site;
    ul {
        list-style-type: none;
        li a {
            color: $color-font;
            text-decoration: none;
        }
        
    }
    
}
