// Variables
@import '../utilities/variables';

* {
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: $font-site;
    background-color: $dark-mode;
}
